ENV=dev
APP_NAME=netopt-tool
SECRET_KEY=please-change-me
DATABASE_URL=sqlite:///../data/app.db

AMAP_WEB_KEY=
AMAP_SECURITY_JS_CODE=

BOOTSTRAP_ADMIN_PHONE=
BOOTSTRAP_ADMIN_PASSWORD=
BOOTSTRAP_ADMIN_NAME=管理员

FILE_ROOT=../data/files
SECTOR_RADIUS_M=500
SECTOR_ANGLE_DEG=60

